numpy==1.23.5
huggingface-hub
imageio
librosa
matplotlib
matplotlib-inline
moviepy
numba
opencv-python
pandas
pillow
pydub
PyYAML
scikit-learn
scipy
seaborn
tensorboard
tensorboard-data-server
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
trimesh
wandb
TensorboardX
einops